.container {
  min-height: 100vh;
  height: 100%;
  background-color: #F5F5F5;
  padding: 0 5%;
  padding-bottom: 2%;
}

.loading {
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 24px;
  padding-top: 50px;
  margin-bottom: 30px;
}

.problem {
  padding: 10px;
  border: 1px solid black;
  background-color: white;
}

.problem:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.problem:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
