.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border: none;
  padding: 15px 30px;
  color: white;
  background: tomato;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
}
