.container {
  margin-top: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}

.Accepted { color: green; }
.Pending { color: blue; }
.TimeLimitedExceded, .RuntimeError, .WrongAnswer, .ServerError, .OutofMemory { color: red; }

.code {
  padding: 10px;
  margin-top: 10px;
  background-color: #F5F5F5;
  border: 1px solid #cccccc;
  border-radius: 3px;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 14px;
}

.results div {
  margin-top: 15px;
}
